/dist
/dist-newstyle
/.stack-work
/result
/rio
/*.out
*.lua
*.prof
*.svg
!/assets/*svg

cabal.project.local*
.ghc*

doc/*.aux
doc/*.fdb_latexmk
doc/*.fls
doc/*.log
doc/*.pdf
doc/*.synctex.gz

/*.xml

rts/*.o
*.hi
*.o
